Repository WarubiSports/fc-koeln-bundesliga-talent-program: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "server/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier -w"
  ],
  "client/**/*.{ts,tsx,js,jsx,css,html,json,md}": [
    "prettier -w"
  ]
}

Add configuration to enable PDF generation on deployment
  attached_assets/Screenshot_2025-12-03_at_18.53.43_1764816828024.png
  nixpacks.toml
Due: none

Configure build process to use pnpm and install necessary tools
  attached_assets/Screenshot_2025-12-03_at_19.07.04_1764817630803.png
  nixpacks.toml
Due: none

Transitioned from Plan to Build mode
  attached_assets/Screenshot_2025-12-03_at_19.21.30_1764818494307.png
Due: none

Update PDF generation to use dynamic port
  server/routes/pdf.ts
Due: eslint --fix, prettier -w

Add table to store sports talent management leads
  shared/schema.ts
Due: none

Add functionality to submit and manage potential player leads
  server/index.ts
  server/routes/leads.ts
Due: eslint --fix, prettier -w

Add a new system for submitting talent leads and managing form submissions
  client/src/pages/Pathways.tsx
Due: prettier -w

Add page to view and manage potential player leads
  client/src/App.tsx
  client/src/pages/Leads.tsx
  server/index.ts
Due: eslint --fix, prettier -w

Update form submission to correctly map budget fields
  attached_assets/Screenshot_2025-12-03_at_20.03.54_1764821038868.png
Due: none

Update system to correctly save user preferences to database
  attached_assets/Screenshot_2025-12-03_at_20.05.50_1764821154808.png
Due: none

Add detailed logging to the talent submission form
  attached_assets/Screenshot_2025-12-03_at_20.12.08_1764821534869.png
  client/src/pages/Pathways.tsx
Due: prettier -w

Add instructions to help users resolve frontend submission errors
  attached_assets/Screenshot_2025-12-03_at_20.13.16_1764821600595.png
Due: none

Add detailed console logs to the leads page for debugging
  client/src/pages/Leads.tsx
Due: prettier -w

Fix old log entries appearing as errors on successful submissions
  attached_assets/Screenshot_2025-12-03_at_20.29.30_1764822574970.png
Due: none

Add external links to explore pathway cards on the pathways page
  client/src/pages/Pathways.tsx
Due: prettier -w

Add email functionality for sending PDF analysis reports
  attached_assets/Screenshot_2025-12-03_at_20.54.09_1764824052032.png
  package.json
  pnpm-lock.yaml
Due: none

Add ability to email player analysis reports
  client/src/components/exposure/AnalysisResult.tsx
  server/routes/pdf.ts
  server/utils/brevo.ts
Due: eslint --fix, prettier -w

Saved progress at the end of the loop
  .replit
Due: none

Center recent moves and align player input boxes at the bottom
  attached_assets/Screenshot_2025-12-03_at_21.48.19_1764827302012.png
  client/src/components/exposure/PlayerInputForm.tsx
  client/src/pages/Pathways.tsx
Due: prettier -w

Align input boxes and center headings on player form
  client/src/components/exposure/PlayerInputForm.tsx
Due: prettier -w

Enable consistent alignment for input fields by allowing style customization
  attached_assets/Screenshot_2025-12-03_at_21.55.30_1764827732666.png
  client/src/components/exposure/PlayerInputForm.tsx
Due: prettier -w

Improve label alignment by allowing custom styling
  attached_assets/Screenshot_2025-12-03_at_21.56.43_1764827805565.png
Due: none

Center align recent moves text on the platform
  attached_assets/targeted_element_1764827946163.png
Due: none

Center the verified elite agency section for a cleaner look
  attached_assets/Screenshot_2025-12-03_at_22.05.39_1764828342519.png
Due: none

Center the verified elite agency section and its content
  client/src/pages/Pathways.tsx
Due: prettier -w

Update link for requesting access to point to the correct external website
  client/src/components/exposure/AnalysisResult.tsx
Due: prettier -w

Update platform to include USL ACADEMY and soccer-specific player positions
  attached_assets/Screenshot_2025-12-04_at_09.53.57_1764870840417.png
  attached_assets/Screenshot_2025-12-04_at_09.56.03_1764870968324.png
  attached_assets/Screenshot_2025-12-04_at_09.56.43_1764871006175.png
  attached_assets/Screenshot_2025-12-04_at_09.57.25_1764871049404.png
  attached_assets/Screenshot_2025-12-04_at_09.57.44_1764871067250.png
  client/src/App.tsx
  shared/exposure-types.ts
Due: prettier -w

Update player profile form to include state and nationality selection
  client/src/components/exposure/PlayerInputForm.tsx
Due: prettier -w

Center methodology button and update footer copyright information
  client/src/App.tsx
Due: prettier -w
